ion-item {
  --background: transparent;
}
.login-btn {
  width: 64%;
}
.soical-btn {
  margin: 0 auto;
  margin-bottom: 8px;
}
ion-item ion-segment{
  width: 50%;
}
.padding-top-7{
  padding-top: 7px;
}
