ion-list {
  --background: transparent;
  background: transparent;
  ion-item {
    --background: transparent;
    background: transparent;
  }
}

ion-item ion-segment {
  width: 50%;
}

ion-header {
  background: var(--ion-color-primary) url(../../../assets/bg-.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100vh;
  background-blend-mode: screen;
}
.transfer-btn{
    width: 64%;
}
//light
@media (prefers-color-scheme: light) {

  ion-segment-button {
    color: var(--ion-color-white-shade);
  }

}