<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="close" class="text-color-white"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Fresh Ads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Fresh Ads</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <img src="assets/ad.png" alt="">
        <ion-card-header class="ion-text-start ion-margin-top">
          <ion-grid class="ion-no-padding ion-no-margin ">
            <ion-row>
              <ion-col size="10">
                <ion-card-title>Harry up! Buy two Get One Free</ion-card-title>
                <ion-card-subtitle>Expires in Aug 23, 2017</ion-card-subtitle>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <p class="font-size">
                  <ion-icon name="location-outline"></ion-icon>
                  <br>
                  <span>500m</span>
                </p>
                <ion-icon class="font-size" name="heart-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>

        <ion-card-content class="content-absolute">
          <ion-grid class="ion-no-padding ion-no-margin ">
            <ion-row>
              <ion-col size="3" class="ion-text-end">
                <ion-fab-button class="soical-btn">
                  <ion-icon name="logo-ionic"></ion-icon>
                </ion-fab-button>
              </ion-col>
              <ion-col size="4" class="ion-text-start margin-top-6" >
                <ion-card-subtitle>Earn</ion-card-subtitle>
                <ion-card-title>AED 9.99</ion-card-title>
              </ion-col>
              <ion-col size="5" class="ion-text-end">
                <ion-button fill="clear"  class="ion-margin-vertical text-color-white">
                  <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
                  Skip
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/asd.png" alt="">
        <ion-card-header class="ion-text-start ion-margin-top">
          <ion-grid class="ion-no-padding ion-no-margin ">
            <ion-row>
              <ion-col size="10">
                <ion-card-title>Harry up! Buy two Get One Free</ion-card-title>
                <ion-card-subtitle>Expires in Aug 23, 2017</ion-card-subtitle>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <p class="font-size">
                  <ion-icon name="location-outline"></ion-icon>
                  <br>
                  <span>500m</span>
                </p>
                <ion-icon class="font-size" name="heart-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>

        <ion-card-content class="content-absolute">
          <ion-grid class="ion-no-padding ion-no-margin ">
            <ion-row>
              <ion-col size="3" class="ion-text-end">
                <ion-fab-button class="soical-btn">
                  <ion-icon name="logo-ionic"></ion-icon>
                </ion-fab-button>
              </ion-col>
              <ion-col size="4" class="ion-text-start margin-top-6" >
                <ion-card-subtitle>Earn</ion-card-subtitle>
                <ion-card-title>AED 9.99</ion-card-title>
              </ion-col>
              <ion-col size="5" class="ion-text-end">
                <ion-button fill="clear"  class="ion-margin-vertical text-color-white">
                  <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
                  Skip
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/ad.png" alt="">
        <ion-card-header class="ion-text-start ion-margin-top">
          <ion-grid class="ion-no-padding ion-no-margin ">
            <ion-row>
              <ion-col size="10">
                <ion-card-title>Harry up! Buy two Get One Free</ion-card-title>
                <ion-card-subtitle>Expires in Aug 23, 2017</ion-card-subtitle>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <p class="font-size">
                  <ion-icon name="location-outline"></ion-icon>
                  <br>
                  <span>500m</span>
                </p>
                <ion-icon class="font-size" name="heart-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>

        <ion-card-content class="content-absolute">
          <ion-grid class="ion-no-padding ion-no-margin ">
            <ion-row>
              <ion-col size="3" class="ion-text-end">
                <ion-fab-button class="soical-btn">
                  <ion-icon name="logo-ionic"></ion-icon>
                </ion-fab-button>
              </ion-col>
              <ion-col size="4" class="ion-text-start margin-top-6" >
                <ion-card-subtitle>Earn</ion-card-subtitle>
                <ion-card-title>AED 9.99</ion-card-title>
              </ion-col>
              <ion-col size="5" class="ion-text-end">
                <ion-button fill="clear"  class="ion-margin-vertical text-color-white">
                  <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
                  Skip
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="assets/asd.png" alt="">
        <ion-card-header class="ion-text-start ion-margin-top">
          <ion-grid class="ion-no-padding ion-no-margin ">
            <ion-row>
              <ion-col size="10">
                <ion-card-title>Harry up! Buy two Get One Free</ion-card-title>
                <ion-card-subtitle>Expires in Aug 23, 2017</ion-card-subtitle>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <p class="font-size">
                  <ion-icon name="location-outline"></ion-icon>
                  <br>
                  <span>500m</span>
                </p>
                <ion-icon class="font-size" name="heart-outline"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>

        <ion-card-content class="content-absolute">
          <ion-grid class="ion-no-padding ion-no-margin ">
            <ion-row>
              <ion-col size="3" class="ion-text-end">
                <ion-fab-button class="soical-btn">
                  <ion-icon name="logo-ionic"></ion-icon>
                </ion-fab-button>
              </ion-col>
              <ion-col size="4" class="ion-text-start margin-top-6" >
                <ion-card-subtitle>Earn</ion-card-subtitle>
                <ion-card-title>AED 9.99</ion-card-title>
              </ion-col>
              <ion-col size="5" class="ion-text-end">
                <ion-button fill="clear"  class="ion-margin-vertical text-color-white">
                  <ion-icon slot="start" name="remove-circle-outline"></ion-icon>
                  Skip
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>