ion-content ion-toolbar {
    --background: translucent;
  }
  ion-header {
    ion-toolbar {
      --ion-background-color: transparent;
    }
    ion-fab {
      ion-fab-button {
        ion-badge {
          position: absolute;
          bottom: 4px;
        }
        ion-icon {
          top: 8px;
          position: absolute;
        }
      }
    }
  }
  ion-list-header {
    font-size: large;
  }
  ion-list {
    --background: transparent;
    background: transparent;
    ion-item{
      --background: transparent;
  
    }
  }
  