<ion-header mode="md" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-badge>22</ion-badge>
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-header collapse="" mode="ios">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="dark"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Page Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list class="ion-padding-top ion-transparent" mode="ios" lines="none">
    <ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>