<ion-header mode="ios" [translucent]="false">
  <ion-toolbar>
    <ion-title>Page Details</ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-badge>22</ion-badge>
      <ion-icon name="notifications"></ion-icon>
      <!-- <span>12312</span> -->
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" mode="ios">
    <ion-toolbar>
      <ion-title size="large">Page Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list class="ion-padding-top ion-transparent" mode="ios" lines="none">
    <ion-item>
      <ion-label class="ion-text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, veritatis quaerat fugit, perferendis eum dolorem nulla perspiciatis eius similique, adipisci culpa nemo iure iste officia animi aut vitae velit et!
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>