<ion-header>
  <ion-toolbar color="transparent" mode="md">
    <ion-buttons slot="end">
      <ion-button color="white">
        Skip
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="white" mode="ios">2 / 2 Receiving Options</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="content" color="white">
    <ion-segment-button value="bank">
      <ion-label>Bank</ion-label>
    </ion-segment-button>
    <ion-segment-button value="paypal">
      <ion-label>Paypal</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- <div>xxx</div> -->
</ion-header>

<ion-content *ngIf="content=='bank'" [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="center ion-text-center">
    <img height="120" src="assets/bank.png" alt="" class=" ion-margin-top">
  </div>
  <ion-item lines="none ">
    <ion-label class="ion-text-center ion-text-wrap">Receive on bank account</ion-label>
  </ion-item>
  <form class="ion-padding ion-text-center">
    <ion-item>
      <ion-label position="floating">UAE Bank Account IBAN</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">UAE Account Holder Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button class="verify-btn" shape="round" mode="ios">Add Bank Account</ion-button>
  </form>
  <!-- <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size="2.5" offset="1.5">
        <ion-icon name="bulb-outline"></ion-icon>
      </ion-col>
      <ion-col size="8">
        By skipping you can still earn on your  Azeez wallet until you connect your bank/PayPal accounts and be able to transfer the balance
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-item lines="none">
    <ion-icon name="bulb-outline" slot="start" class="ion-text-end ion-no-margin ion-padding-bottom padding-end-8" color="primary"></ion-icon>
    <ion-note class="ion-text-start ion-text-wrap">
      By skipping you can still earn on your Azeez wallet until you connect your Bank/PayPal accounts and be able to transfer the balance.</ion-note>
  </ion-item>
</ion-content>
<ion-content *ngIf="content=='paypal'" [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="center ion-text-center">
    <img height="120" src="assets/paypal.png" alt="" class=" ion-margin-top">
  </div>
  <ion-item lines="none ">
    <ion-label class="ion-text-center ion-text-wrap">Receive On PayPal Account</ion-label>
  </ion-item>
  <form class="ion-padding ion-text-center">
    <ion-item>
      <ion-label position="floating">PayPal Account Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button class="verify-btn" shape="round" mode="ios">Add PayPal Account</ion-button>
  </form>
  <!-- <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col size="2.5" offset="1.5">
        <ion-icon name="bulb-outline"></ion-icon>
      </ion-col>
      <ion-col size="8">
        By skipping you can still earn on your  Azeez wallet until you connect your bank/PayPal accounts and be able to transfer the balance
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <ion-item lines="none">
    <ion-icon name="bulb-outline" slot="start" class="ion-text-end ion-no-margin ion-padding-bottom padding-end-8" color="primary"></ion-icon>
    <ion-note class="ion-text-start ion-text-wrap">
      By skipping you can still earn on your Azeez wallet until you connect your Bank/PayPal accounts and be able to transfer the balance.</ion-note>
  </ion-item>
</ion-content>