ion-item {
    --background: transparent;
  }
  .login-btn {
    width: 64%;
  }
  ion-item ion-segment{
    width: 50%;
  }
  .padding-top-7{
    padding-top: 7px;
  }
  ion-header{
    background: var(--ion-color-primary) url(../../../assets/bg-.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vh;
    background-blend-mode: screen;
  }
  .facebook-fab{
    --background	: #4267B2;
  }
  .twitter-fab{
    --background	: #2CAAE1;
  }
  .google-fab{
    --background	: #EA4335;
  }
  //light
  @media (prefers-color-scheme: light) {
  
    ion-segment-button {
      color: var(--ion-color-white-shade);
    }
  
  }
  