<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar> </ion-toolbar>
  <ion-fab vertical="top" horizontal="end" slot="fixed" class="red" >
    <ion-fab-button color="danger" routerLink="/fresh-ads">
      <ion-badge color="danger">22</ion-badge>
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="notifications"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/ad-details">
          <div class="thumbnail">
            <ion-chip disabled>
              <!-- <ion-icon name="pin"></ion-icon> -->
              <ion-icon name="sticker" color="white"></ion-icon>
              <ion-label  color="white">New</ion-label>
            </ion-chip>
            <img src="assets/Bitmap.png" alt="">
          </div>


          <ion-card-header>
            <ion-card-title>Hot deal! Buy One Get One Free</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Expires in Aug 23, 2017
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/ad-details">
          <div class="thumbnail">
            <ion-chip disabled>
              <!-- <ion-icon name="pin"></ion-icon> -->
              <ion-icon name="sticker" color="white"></ion-icon>
              <ion-label color="white">New</ion-label>
            </ion-chip>
            <img src="assets/Bitmap-1.png" alt="">
          </div>
          <ion-card-header>
            <ion-card-title>Hot deal! Buy One Get One Free</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Expires in Aug 23, 2017
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/ad-details">
          <div class="thumbnail">
            <ion-chip disabled>
              <!-- <ion-icon name="pin"></ion-icon> -->
              <ion-icon name="sticker" color="white"></ion-icon>
              <ion-label color="white">New</ion-label>
            </ion-chip>
            <img src="assets/Bitmap-2.png" alt="">
          </div>
          <ion-card-header>
            <ion-card-title>Hot deal! Buy One Get One Free</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Expires in Aug 23, 2017
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/ad-details">
          <div class="thumbnail">
            <ion-chip disabled>
              <!-- <ion-icon name="pin"></ion-icon> -->
              <ion-icon name="sticker" color="white"></ion-icon>
              <ion-label color="white">New</ion-label>
            </ion-chip>
            <img src="assets/Bitmap-3.png" alt="">
          </div>
          <ion-card-header>
            <ion-card-title>Hot deal! Buy One Get One Free</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Expires in Aug 23, 2017
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/ad-details">
          <div class="thumbnail">
            <ion-chip disabled>
              <!-- <ion-icon name="pin"></ion-icon> -->
              <ion-icon name="sticker" color="white"></ion-icon>
              <ion-label color="white">New</ion-label>
            </ion-chip>
            <img src="assets/Bitmap.png" alt="">
          </div>
          <ion-card-header>
            <ion-card-title>Hot deal! Buy One Get One Free</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Expires in Aug 23, 2017
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/ad-details">
          <div class="thumbnail">
            <ion-chip disabled>
              <!-- <ion-icon name="pin"></ion-icon> -->
              <ion-icon name="sticker" color="white"></ion-icon>
              <ion-label color="white">New</ion-label>
            </ion-chip>
            <img src="assets/Bitmap-1.png" alt="">
          </div>
          <ion-card-header>
            <ion-card-title>Hot deal! Buy One Get One Free</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Expires in Aug 23, 2017
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <!-- <ion-icon name="notifications"></ion-icon> -->
      <ion-icon name="filter"></ion-icon>
      <!-- <span>12312</span> -->
    </ion-fab-button>
  </ion-fab>
</ion-content>