.get-started-btn{
    width: 64%;
    margin-top: 20px;
}
.logo{
    height: 50px;
    margin: 0 auto;
}
.padding-top-20{
    padding-top: 20px;
}
ion-content {
    --padding-top: 24px;
    --background: url(../../../assets/bg.png) no-repeat center center / cover;
}
ion-slides {
    margin-top: 24px;
    padding-bottom: 24px;
}

