<ion-content [fullscreen]="true" class="background ion-text-center ion-padding-top">
  <img class="logo ion-margin-bottom" src="assets/logo.png" />
  <ion-slides class="ion-padding-top ion-padding-bottom" pager="true" centeredSlides="true">
    <ion-slide>
      <div class="slide">
        <img src="assets/slider/slide1.png" />
        <h3 class="ion-padding-horizontal">View</h3>
        <p class="ion-padding-horizontal">Turn on your notifications and location to receive the latest ads based on
          your area!</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="assets/slider/slide2.png" />
        <h3 class="ion-padding-horizontal">Earn</h3>
        <p class="ion-padding-horizontal">You earn money when you view an ad!
          Cash would be transferred to your bank or Paypal account!</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="assets/slider/slide3.png" />
        <h3 class="ion-padding-horizontal">Redeem</h3>
        <p class="ion-padding-horizontal">Double advantage! You can also redeem the offers in the ads!</p>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-button class="get-started-btn" shape="round" mode="ios">Get Started</ion-button>

</ion-content>