.text-white {
  color: var(--ion-color-white);
}
.get-started-btn {
  width: 64%;
  margin-top: 20px;
}
.logo {
  height: 50px;
  margin: 0 auto;
}
.padding-top-20 {
  padding-top: 20px;
}

ion-content {
    --padding-top: 24px;
    --background: url(../../../assets/bg.png) no-repeat center center / cover;
  }

ion-slides {
  margin-top: 24px;
  padding-bottom: 24px;
  --bullet-background-active: var(--ion-color-secondary);
}

//light
@media (prefers-color-scheme: light) {
    ion-button {
        --ion-color-contrast: var(--ion-color-primary);
      }
      ion-content {
        --padding-top: 24px;
        --background: var(--ion-color-primary) url(../../../assets/bg.png) no-repeat center center / cover;
      }
}

