/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// white color
.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}
@font-face {
  font-family: "YorktenSlabNormRegular";
  src: url("assets/fonts/YorktenSlabNormRegular.otf"); //mine
}
* {
  font-family: "YorktenSlabNormRegular" !important;
}

//bg
ion-header {
  --background: transparent;
}
ion-content {
  --background: var(--ion-background-color) url(assets/bg-.png) no-repeat center center / cover;
  ion-toolbar {
    --background: translucent;
  }
}

//modal class
ion-modal.auto-height {
  --background: transparent;
  &.notifications {
    pointer-events: none;
  }
  &.bottom {
    align-items: flex-end;
    margin-bottom: 1vh;
  }
  &.top {
    align-items: flex-start;
    margin-top: 1vh;
  }

  --height: auto;
  --width: 90%;

  .ion-page {
    position: relative;
    display: block;
    contain: content;

    .inner-content {
      max-height: 80vh;
      overflow: auto;
      padding: 10px;
    }
  }
}

// light theme
body:not(.dark) {
  //intro page
  app-intro {
    ion-button {
      --ion-color-contrast: var(--ion-color-primary);
    }
    ion-content {
      --padding-top: 24px;
      --background: var(--ion-color-primary) url(assets/bg.png) no-repeat center center / cover;
    }
  }

  //auth & my-wallet & receiving-options pages
  app-auth,
  app-my-wallet,
  app-receiving-options {
    ion-segment-button {
      color: var(--ion-color-white-shade);
    }
  }

  //profile page
  app-profile {
    ion-title {
      color: var(--ion-color-white);
    }
    ion-fab {
      color: var(--ion-color-white);
    }
  }
}
