ion-content ion-toolbar {
    --background: translucent;
  }
  ion-header {
    ion-toolbar {
      --ion-background-color: transparent;
    }
  }
  ion-card {
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    ion-avatar {
      margin: 0 auto;
      width: 80px;
      height: 80px;
    }
  }
  .height-100 {
    height: 100%;
  }
  .padding-20 {
    padding: 20px;
  }
  .padding-top-32 {
    padding-top: 32px;
  }
  .padding-top-bottom-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .padding-top-bottom-5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .icon-size {
    font-size: 64px;
  }
  .font-size-28 {
    font-size: 28px !important;
  }
  .saved-offer-card {
    margin-bottom: 10px;
  }
  .icon-size-md {
    font-size: 40px;
  }
  .wallet-card {
    ion-card-header {
      ion-card-title {
        font-size: 0.8rem;
        .balance {
          font-size: 0.92rem;
        }
      }
    }
  }
  
  ion-card-header {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
    ion-card-title {
      font-size: 0.94rem;
    }
  }
  ion-card-content {
    font-size: 0.72rem;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }
  .ref {
    // padding-inline-start: 80px;
    padding-inline-start: 24%;
    font-size: 28px;
    padding-inline-end: 12px;
  }
  .color-primary{
      color : var(--ion-color-primary);
  }
  