<ion-header>
  <ion-toolbar color="transparent"  >
    <!-- <ion-buttons slot="start">
      <ion-back-button color="white"></ion-back-button>
    </ion-buttons> -->
    <ion-title  mode="ios" color="white">Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-text-center"  [fullscreen]="true">
  <div class="center ion-text-center">
    <img height="160" src="assets/password.png" alt="">
  </div>
  <ion-item lines="none " class="ion-padding-top">
    <ion-label class="ion-text-center ion-text-wrap"> Please Enter Your Email </ion-label>
  </ion-item>
  <form class="ion-padding ion-text-center">
    <ion-item class="ion-margin-bottom">
      <ion-label position="floating">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-button class="ion-margin-top login-btn" shape="round" mode="ios">Continue</ion-button>
  </form>

</ion-content>
